
.pagination__parent {
    display: block;
    width: 100vw;
}
.pagination {
    margin: 40px auto 50px auto;
    width: max-content;
    display: flex;
    gap: 10px;
    align-items: center;
}

.pagination__container {
    display: flex;
    gap: 5px;
}

.pagination__prev,
.pagination__next,
.pagination__page {
    cursor: pointer;
    width: 35px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__active {
    background-color: var(--color-red);
    color: white;
    border-radius: 5px;
}