.error404__container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.error404__header {
    margin-bottom: 40px;
}

.error404__link {
    font-size: 1.6rem;
    margin-bottom: 30px;
    background-color: red;
    padding: 15px 20px;
    border-radius: 25px;
    color: white;
    transition: transform ease-in-out .5s;
}

.error404__link:hover {
    transform: scale(1.1);
    transition: transform ease-in-out .5s;
}

.error404__img {
    max-width: 900px;
    margin: 10px 20px;
    aspect-ratio: 1;
    border-radius: 10px;
}